
    <section>
        <!-- formulario de contacto -->
        <div class="row contenedor-formulario opaco ">
            <div class="col-12 col-lg-6 contacto-1 opaco">
                <h2>Deje aqui sus datos e inmediatamente nos comunicaremos con usted</h2>
                <form action="" method="" class="formulario  ">
                    <p>
                        <label for="Nombre">Nombre</label>
                        <input type="text" placeholder="Ingrese su nombre">
                    </p>
                    <p>
                        <label for="Nombre">Apellido</label>
                        <input type="text" placeholder="ingrese su apellido">
                    </p>
                    <p>
                        <label for="">Email</label>
                        <input type="email" placeholder="ingrese su mail">
                    </p>
                    <p>
                        <label for="">Telefono</label>
                        <input type="text" placeholder="ingrese su telefono 011+15+">
                    </p>
                    <p>
                        <label for="">Comentario</label>
                        <textarea name="texto" id="texto" cols="30" rows="5"></textarea>
                    </p>
                    <!-- el boton lo metio en una p porque esat en bloque  -->
                    <p class="acciones"> <input type="submit" value="Enviar"></p>
    
                </form>
    
            </div>
    
            <div class="col-12 col-lg-6 contacto-2  ">
                <h2 class="opaco">Tambien pueden encontrarnos en :</h2>
                <div class="row">
                    <div class="col-12">
                        <h5><b>Mail de Contacto:</b></h5>
                        <h6>cafebistro@........</h6>
                    </div>
                    <div class="col-12">
                        <h5><b>Direciones utiles:</b></h5>
                        <h6>Direccion 1</h6>
                        <h6>Direccio5 2</h6>
                        <h6>Direccion 3</6>
                    </div>
                    <div class="col-12 redes-contacto opaco ">
                        <h5>Seguinos en nuestras REDES</h5>
                        <a href="https://www.instagram.com/?hl=es-la" target="_blank"><i class="fab fa-instagram" style="color: crimson;" ></i></a>
                        <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp  " style="color: rgb(0, 100, 62);"></i></a>
                        <a href="https://twitter.com/home   " target="_blank"><i class="fab fa-twitter" style="color: aqua;"></i></a>
                    </div>
    
                </div>
            </div>
    
    
    
        </div>
    </section>
</div>
</main>