<!-- seccion galeria cafeteria maquetado con float responsive  -->

<!-- seccion galeria cafeteria maquetado con float responsive  -->
        <section id="cafeteria">
            <h2 class="div-tit"> Galeria Cafeteria</h2>
            <div class="galeria">
                <div class="foto">
                    <img src="img/galeria1/cafe-1.jpg" alt="cafe">
                </div>
                <div class="foto">
                    <img src="img/galeria1/cafe-2.jpg" alt="cafe">
                </div>

                <div class="foto">
                    <img src="img/galeria1/cafe-4.jpg" alt="cafe">
                </div>

                <div class="foto">
                    <img src="img/galeria1/cf-1.jpg" alt="cafe">
                </div>
                <div class="foto">
                    <img src="img/galeria1/cf-2.jpg" alt="cafe">
                </div>
                <div class="foto">
                    <img src="img/galeria1/cf-3.jpg" alt="cafe">
                </div>
                <div class="foto">
                    <img src="img/galeria1/cf-4.jpg" alt="cafe">
                </div>
                <div class="foto">
                    <img src="img/galeria1/cafe-3.jpg" alt="cafe">
                </div>

            </div>
        </section>
        <div class="clearfix"></div>
        <!-- inicio galeria brunch maquetado con wrap responsive flex box-->
        <section  id="brunch">
            <h2 class="div-tit"> Galeria Brunch</h2>
            <div class="galeria-brunch opaco">
                <div class="foto">
                    <img class="" src="img/galeria1/bch-1.jpg" alt="comida01">
                </div>
                <div class="foto">
                    <img src="img/galeria1/bch-2.jpg" alt="comida02">
                </div>
                
                <div class="foto">
                    <img src="img/galeria1/bch-3.jpg" alt="comida03">
                </div>
             
                <div class="foto">
                    <img src="img/galeria1/bch-4.jpg" alt="comida04">
                </div>
                <div class="foto">
                    <img src="img/galeria1/bch-5.jpg" alt="comida">
                </div>
                <div class="foto">
                    <img src="img/galeria1/bch-6.jpg" alt="comida">
                </div>
                <div class="foto">
                    <img src="img/galeria1/bch-7.jpg" alt="comida">
                </div>
                <div class="foto">
                    <img src="img/galeria1/bch-8.jpg" alt="comida">
                </div>
                <div class="foto">
                    <img src="img/galeria1/bch-5.jpg" alt="comida">
                </div>
                <div class="foto">
                    <img src="img/galeria1/bch-3.jpg" alt=" comida">
                </div>
             
                <div class="foto">
                    <img src="img/galeria1/bch-4.jpg" alt="comida">
                </div>
                <div class="foto">
                    <img src="img/galeria1/bch-5.jpg" alt="comida">
                </div>
                
            </div>
        </section>


       

    </main>
   