




   
    
        <section class="bienvenidos">
            <!-- inicio seccion bienvenida -->
            <div class="row">
                <div class="col-12 col-lg-8  opaco bienvenido  ">
                    <h2>Bienvenidos a la experiencia Bistro</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quod pariatur maxime asperiores nobis ea
                        deleniti ipsam aperiam dicta commodi aliquid ullam laborum, laudantium tenetur architecto esse fugit
                        voluptatibus consequuntur.</p><br>
        
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam id natus velit eligendi minus
                        deserunt a quisquam, tempora aut inventore minima consequatur adipisci odio quaerat! Voluptates,
                        exercitationem! Odit, veniam rerum!</p>
        
                </div>
                <div class="col-12 col-lg-4 estrellas">
                    <!-- inicio seccion referencias y premio -->
                    <img src="img/home/2-stars.png" alt="estrella michelin">
                    <div class="estrellas ">
                        <h4> Premio Ganado Referencia</h4>
                        <div class="estrella">
                            <span class="rubro"> Mejor cafeteria Sudamerica </span>
                            <span class="cheff">
                                Cheff Anton. Michelin.com
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 
    </div>
    </main>
