<!DOCTYPE html>
<html>
  <head>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Café Bistró</title>
<!--  bst fuentes fuentes google normalize y cafeteria -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
       
     <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
 
     <link rel="stylesheet" href="css/normalize.css">
    
</head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <!-- inicio de header ****************************-->
    <header id="up">
        <div class="contenedor">
            <a href="index.html"> <img src="img/logos/logo-1.png"  alt="logo    "></a>
            <h1>Experiencia <em>Bistró</em></h1>
        </div>
    </header>
    <!-- fin de header *********************************-->

    <!-- inicio de nav ************************************ -->
    <!-- base de bstp con modificaciones   -->
    <nav id="up">
        <div class="navbar navbar-expand-lg nav-bar-bar ">
            <!--  cambio de logo  boton colapso por font awesome -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fas fa-mug-hot"></i></span>
            </button>
    
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
    
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 contenedor ">
                    <li><a href="/"> <em>Café Bistró</em></i></a></li>
                    <li><a href="nosotros">Nosotros</a></li>
                    <li><a href="sabores">Sabores</a></li> 
                    <li><a href="ofertas">Ofertas</a></li>   
                    <li><a href="galeria">Galeria</a></li>   
                    <li><a href="novedades">Novedades</a></li>             
                    <li> <a href="contactos">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
<!-- fin del nav ******************************************************* -->
<main>
    <section> <!-- inicio de la seccion fixed redes y boton back  -->
        <div class=" redes ">
            <a href="https://www.instagram.com/?hl=es-la" target="_blank"><i class="fab fa-instagram" style="color: crimson;" ></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp  " style="color: rgb(0, 100, 62);"></i></a>
            <a href="https://twitter.com/home   " target="_blank"><i class="fab fa-twitter" style="color: aqua;"></i></a>
            <a href="#up"><i class="far fa-arrow-alt-circle-up" style="color: rgba(255, 255, 255, 0.5);"></i></a>
        </div>     
    </section>
    <!-- fin de la seccion fixed redes y boton back  -->
     <div class="contenedor">
        <section class="espacio">
            <!-- inicio banner entrada  -->
            <div class="banner-entrada">
                <img class=" autozoom" src="img/home/baner-home1.jpg" alt="tres mangas">
                <div class=" texto-entrada entrada">
                    <h1>Cafe <b> <em>Bistró</em> </h1>
                </div>
            </div>
        
        </section>
    {{{body}}}

    
   
  </body>

<footer class="contenedor ">
    <!-- inicio de footer ********************************* -->

    <div class="row margen">
        <div class="col-12 col-lg-6 espacio margen">
            <!-- seccion izquierda  de 6 columnas  -->
            <div class="row">

                <div class="col-12 col-lg-4">
                    <div class="direcciones">
                        <h5><b>Locales cercanos</b></h5>
                        <h6>Direccion 1</h6>
                        <h6>Direccion 2</h6>
                        <h6>Direccion 3</h6>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <h5><b>Mail de Contacto:</b></h5>
                    <h6>cafebistro@........</h6>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="telefonos">
                        <h5><b>Direciones utiles:</b></h5>
                        <h6>Direccion 1</h6>
                        <h6>Direccio5 2</h6>
                        <h6>Direccion 3</6>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 col-lg-6 redes-footer">
            <!-- seccion derecha de 6 columnas  -->

            <h5>Seguinos en nuestras REDES</h5>
            <a href="https://www.instagram.com/?hl=es-la" target="_blank"><i class="fab fa-instagram" style="color: crimson;" ></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp  " style="color: rgb(0, 100, 62);"></i></a>
            <a href="https://twitter.com/home   " target="_blank"><i class="fab fa-twitter" style="color: aqua;"></i></a>
        </div>
    </div>
    <hr>
    <div class="empresa">
        <p>&copy; Florencia Biro.  Todos los derechos reservados.</p>
    </div>
</footer>
<!-- fin de footer -->


    <!-- script de java ......................................... -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    
</body>
</html>
