
 

    <!-- seccion nuestra historia historia maquetado left right con bst -->
    <section class=" espacio  ">
        <h2 class="div-tit">Nuestra historia</h1>
            <div class="row justify-content-between">
                <div class="col-12 col-lg-8 derecha ">
                    <!-- secccion izquierda historia -->
                    <div class="row  ">
                        <div class="col-12 col-lg-6 opaco  ">
                            <img class="img-fluid " src="img/nosotros/nosotros-1.jpg" alt="local cafeteria">
                        </div>
                
                        <div class="col-12 col-lg-6  opaco ">
                            <h5>Nacimos como Familia</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor harum alias hic, explicabo
                                voluptatum blanditiis! Minus distincti.</p>
                        </div>
                
                        <div class="col-12 col-lg-6 claro-violeta  ">
                            <h5>Crecimos como empresa</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor harum alias hic, explicabo
                                voluptatum blanditiis! Minus distincti.</p>
                        </div>
                        <div class="col-12 col-lg-6  violeta-claro">
                            <img class="img-fluid espacio" src="img/nosotros/nosotros-3.png" alt="cafetrera">
                        </div>
                
                        <div class="col-12 col-lg-6 opaco  ">
                            <img class="img-fluid " src="img/nosotros/nosotros-4.jpg" alt="tazas de cafe">
                        </div>
                
                        <div class="col-12 col-lg-6 opaco">
                            <h5>Perfeccionamos e innovamos</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor harum alias hic, explicabo
                                voluptatum blanditiis! Minus distincti.</p>
                        </div>
                    </div>
                </div>

             
                <!-- inicio del aside animado 33% -->
    
    
                <aside class=" col-sm-12  col-lg-4  aside  ">
                    <div class="aside-nosotros ">
                        <!--  <div class="frame"> -->
                        <img class="img-fluid espacio" src="img/nosotros/aside-img.jpg" alt="barista" />
                        <div class="text text-1 ">
                            <h2>Sumate al Equipo</h2>
                            <h3>Cursos de barista</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magnam, et magni
                                exercitationem dolor
                                amet null</p>
                            <button class="btn-danger swing"><a href="contacto.html">Ver mas</a></button>
                        </div>
                    </div>
    
                </aside>
    </section>

</main>