  <!-- novedades -->
    <section class="nov">
        <!-- seccion de novedades  -->
        <h2 class="div-tit">Novedades</h2>
        <!-- izquierda novedad principal  -->
        <div class="novedades-principal ">
            <h3>Ultima novedad</h3>
            <h4>Subtitulo</h4>
            <p>Descripcion- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam soluta odit eligendi id veritatis optio cupiditate delectus aliquid! Nostrum voluptas tenetur amet deleniti solu</p>
            <hr>
        </div>


        <div class="novedades-secund espacio">
            <!-- paquite 1  -->
            <div class="novedades">
                <h3>Titulo</h3>
                <h4>Subtitulo</h4>
                <p>Descripcion- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam soluta odit eligendi id veritatis optio cupiditate delectus aliquid! Nostrum voluptas tenetur amet deleniti solu</p>
                <hr>
            </div>

            <!-- paquete 2 -->
            <div class="novedades">
                <h3>Titulo</h3>
                <h4>Subtitulo</h4>
                <p>Descripcion- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam soluta odit eligendi id veritatis optio cupiditate delectus aliquid! Nostrum voluptas tenetur amet deleniti solu</p>
                <hr>
            </div>
        </div>
        
    </section>
</div>
</main>