
  
        <section>
            <h2 class="div-tit">Aca todas las ofertas !!!</h2>

            <div class="row  justify-content-between  cursos opaco">
        
                <div class="col-12 col-lg-4 byn curso" style="width: 18rem;">
                    <div class="  ">
                        <img src="img/tienda/curso1chef.jpg" class="img-fluid " alt="cocineros">
                        <h3> 50% Off !!!</h3>
                        <p>Curso 1</p>
                        <button class="btn-danger swing"><a href="contacto.html"> Reserva </a></button>
                    </div>
                </div>
        
                <div class="col-12 col-lg-4 byn curso" style="width: 18rem;">
                    <div class=" curso  byn  ">
                        <img src="img/tienda/curso2barista.jpg" class="img-fluid " alt="cocina">
                        <h3> 50% Off !!!</h3>
                        <p>Curso 2</p>
                        <button class="btn-danger swing"><a href="contacto.html"> Reserva </a></button>
                    </div>
                </div>
        
                 <div class="col-12 col-lg-4 byn curso" style="width: 18rem;">
                    <div class=" curso  byn ">
                        <img src="img/tienda/curso3cafeteria.jpg" class="img-fluid " alt="volturno">
                        <h3> 50% Off !!!</h3>
                        <p>Curso 3</p>
                        <button class="btn-danger swing"><a href="contacto.html"> Reserva </a></button>
                    </div>
                </div>
        
        
        
        </section>
    </div>
</main>