

        <section>
            <!-- seccion sabores con flotado  -->
            <h2 class="div-tit">Conoce nuestros cafes y sabores</h2>
        
            <div class="  sabores sabores-tj  byn espacio">
                <img class="img-fluid left" src="img/sabores/bolsa-1.jpg" alt="bolsa de cafe">
                <h4>Cafe Brasilero</h4>
        
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis placeat officia, iure dolorum quidem a
                    laborum maxime excepturi laboriosam soluta vero laudantium quis eligendi aperiam, delectus labore magni
                    illum!
                    Porro.</p>
            </div>
        
            <div class="   sabores sabores-tj  byn">
                <img class="img-fluid right " src="img/sabores/bolsa-2.jpg" alt="bolsa de cafe">
                <h4>Cafe Colombiano</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis placeat officia, iure dolorum quidem a
                    laborum maxime excepturi laboriosam soluta vero laudantium quis eligendi aperiam, delectus labore magni
                    illum!
                    Porro.</p>
            </div>
            <div class="   sabores  sabores-tj byn">
                <img class="img-fluid left" src="img/sabores/bolsa-3.jpg" alt="bolsa de cafe">
                <h4>Cafe Moka</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis placeat officia, iure dolorum quidem a
                    laborum maxime excepturi laboriosam soluta vero laudantium quis eligendi aperiam, delectus labore magni
                    illum!
                    Porro.</p>
            </div>
            <div class=" sabores sabores-tj byn">
                <img class="img-fluid right" src="img/sabores/saborizados.jpg" alt="canela">
                <h4>Cafes Saborizados</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis placeat officia, iure dolorum quidem a
                    laborum maxime excepturi laboriosam soluta vero laudantium quis eligendi aperiam, delectus labore magni
                    illum!
                    Porro.</p>
            </div>
            
        
            <div class="clearfix"></div>
        </section>


    </div>

</main>